/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Magenta): #c3195d;
Secondary Color (Dark Magenta):  #680747;
Tertiary Color (Dark Violet): #370D5E;
Background Color (Light gray): #D4D4D4
 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  background-color: #22223b;
}

a {
  color: #eaac8b;
}
/* a:visited {
  color: #e56b6f;
} */

a:hover,
a:focus {
  text-decoration: none;
  font-weight: bolder;
  color: #d4d4d4;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 80px;
}

/*logo*/
.page-header__item {
  height: 100px;
  width: 180px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 100px;
}
.navbar {
  flex: 0 1 100px;
  background-color: #2b2d42;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 100px;
  width: 100%;
  flex-grow: 1;
}

.navbar a {
  padding: 10px 20px;
  margin: 0px 15px;
}

/* navbar toggle */
.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: #c9ada7;
  border: none;
}
.navbar-toggler .line {
  width: 100%;
  float: right;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
/* end of navbar toggle */

.nav-item active {
  text-decoration: none;
  font-weight: bold;
}

.nav-link {
  color: #c9ada7;
}

.nav-link:focus,
.nav-link:hover {
  color: #e56b6f;
}

/*navigation list*/
.page-header__item:last-child {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.navigation-list__item--active {
  text-decoration: none;
  font-weight: bold;
}
.navigation-list__item {
  color: #9a8c98;
  text-decoration: none;
}

.navigation-list__item:visited {
  color: #9a8c98;
}

/* .navigation-list {
  list-style-type: none;
} */

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #e56b6f;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: #c9ada7;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  color: #f2e9e4;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 250px;
}

.profile__portrait {
  float: left;
  width: 300px;
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
}

.profile__text {
  width: 750px;
  margin: 0 auto;
}

.about_pic {
  width: 250px;
  height: 350px;
  margin: 0 auto;
  display: block;
}

/* link styling */

button,
.button {
  font-family: inherit;
  border: none;
  background-color: #ef476f;
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: 20px;
  display: inline-block;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.project-img {
  width: 350px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-bottom: 30px;
}

.grid__item h2 {
  color: #22223b;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
}

.project_long_pic {
  margin: 0 auto;
  display: block;
  padding-bottom: 30px;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fa-brands {
  color: #c9ada7;
  font-size: 30px;
}

.social-media-link {
  text-decoration: none;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  .grid__item {
    background-color: #9a8c98;
    padding: 10px;
    width: auto;
    border-radius: 13px;
    margin: 5px;
  }
}

@media all and (max-width: 750px) {
  .navigation-list li {
    margin-right: 15px;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid__item {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 95%;
  }

  .favflix__item {
    display: block;
    margin: 0 auto;
    max-width: 88%;
    max-height: 98%;
  }

  .grid__item p {
    font-size: 14px;
  }

  .project-img {
    max-width: 70%;
    max-height: 40%;
  }

  .profile {
    max-width: 80%;
    max-height: 80%;
    padding-top: 50px;
  }

  .profile__portrait {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    max-height: 70%;
    margin-bottom: 50px;
    float: none;
    border-radius: 5%;
  }

  .about_pic {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
  }

  .project_long_pic {
    max-width: 90%;
    max-height: 55%;
  }

  .profile__text {
    max-width: 80%;
  }

  button {
    font-size: 13px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: inline-block;
  }

  h1,
  h2 {
    text-align: center;
  }
}

@media all and (min-width: px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid__item {
    max-width: 90%;
    max-height: 65%;
  }

  .favflix__item {
    display: block;
    margin: 0 auto;
    max-width: 88%;
    max-height: 98%;
  }

  .grid__item p {
    font-size: 14px;
  }

  .project-img {
    max-width: 70%;
    max-height: 40%;
  }

  .profile {
    max-width: 80%;
    max-height: 50%;
    padding-top: 50px;
  }

  .profile__portrait {
    float: left;
    max-width: 50%;
    max-height: 50%;
    padding-right: 10px;
    border-radius: 5%;
  }

  .profile__text {
    max-width: 90%;
    padding-right: 0;
    text-align: left;
  }

  .about_pic {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
  }

  .project_long_pic {
    max-width: 90%;
    max-height: 55%;
  }

  button {
    font-size: 13px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin: 10px;
    display: inline-block;
  }
}

@media all and (max-width: 750px) {
  /* .grid {
    grid-gap: 10px;
  } */
  h1 {
    font-size: 22px;
  }
}
